body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
    margin: 0;
}

/**Navbar**/
#nav {
	left: 0%;
	right: 0%;
    top:0%;
	background-color: white;
	position: fixed;
	display: block;
	box-shadow: 2px 2px 5px #aaaaaa;
	z-index: 1;

}

.nav-item:first-child {
	float: left;
	font-weight: 500;
}

.nav-item {
	color: #2a2d34;
	float: right;
	display: block;
	text-align: center;
	padding: 22px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
}

.nav-item:hover {
	color: #2a2d34;
	transition: 0.5s;
}


.nav-item:hover:after {
    transform: scaleX(1);
}

.nav-item::after {
    display:block;
    content: '';
    border-bottom: solid 3px rgb(135, 164, 230);  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}





#footer {
    margin-top: auto; 
	padding-top:20px;
	text-align: center;
	background-color: #F0F0F0;
}

#social-container * {
	padding: 6px;
	margin-bottom: 6px;
}

#social-container a {
	color: #575757;
	transition: .4s;
}

#social-container a:hover {
	color: #8d8d8d;
}

#copyright {
	color: #8d8d8d;
	font-size:14px;
}



.button-28 {
	appearance: none;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	display: block;
	font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin: 0 auto;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 80%;
	will-change: transform;
  }
  
  .button-28:disabled {
	pointer-events: none;
  }
  
  .button-28:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
  }
  
  .button-28:active {
	box-shadow: none;
	transform: translateY(0);
  }

  #tableContainer {
	overflow-x: scroll; 
	display: flex;
	justify-content: center;
	margin-top: 0px; 
	opacity: 0;
    transition: opacity 1s ease-in-out;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 20px; 
}

th, td {
	padding: 12px;
	text-align: left;
	border: 1px solid #ddd;
}

th {
	background-color: #4CAF50; 
	color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2; 
}

#apiResponseContainer {
    display: none;
    flex-direction: column;
}

#labelResponse {
    margin-bottom: 5px;
    margin: auto;
    padding-bottom: 10px;
}

#apiResponse {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0px;
    font-family: 'Arial', sans-serif;
    resize: vertical; 
    margin: 0 auto;
    display: block;
}

#apiResponse:focus {
    outline: none;
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

#viewDesc {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}